pkgbase = nvidia-340xx-bede
	pkgdesc = NVIDIA drivers for linux-bede
	pkgver = 340.46
	pkgrel = 6
	url = http://www.nvidia.com/
	install = nvidia.install
	arch = i686
	arch = x86_64
	license = custom
	makedepends = linux-bede>=3.17.2
	makedepends = linux-bede<3.18
	makedepends = linux-bede-headers>=3.17
	makedepends = linux-bede-headers<3.18
	makedepends = nvidia-340xx-utils=340.46
	makedepends = nvidia-340xx-libgl=340.46
	conflicts = nvidia
	options = !strip
	source = http://download.nvidia.com/XFree86/Linux-x86/340.46/NVIDIA-Linux-x86-340.46.run
	source = http://download.nvidia.com/XFree86/Linux-x86_64/340.46/NVIDIA-Linux-x86_64-340.46-no-compat32.run
	sha256sums = a2e6d779397372dea77466e85ba30a15211c24502687512694604e570db11f87
	sha256sums = 85e87c5801ef8e9fe30a34aa01cc7f4d3a11f2ab62d2259bb9ff3235ad56ef79

pkgname = nvidia-340xx-bede
	depends = linux-bede>=3.17
	depends = linux-bede<3.18
	depends = nvidia-340xx-utils=340.46
	depends = nvidia-340xx-libgl=340.46

