pkgbase = nvidia-340xx-bede
	pkgdesc = NVIDIA drivers for linux-bede
	pkgver = 340.46
	pkgrel = 2
	url = http://www.nvidia.com/
	install = nvidia.install
	arch = i686
	arch = x86_64
	license = custom
	makedepends = linux-bede>=3.16.4
	makedepends = linux-bede<3.17
	makedepends = linux-bede-headers>=3.16
	makedepends = linux-bede-headers<3.17
	makedepends = nvidia-340xx-utils=340.46
	makedepends = nvidia-340xx-libgl=340.46
	conflicts = nvidia
	options = !strip

pkgname = nvidia-340xx-bede
	depends = linux-bede>=3.16
	depends = linux-bede<3.17
	depends = nvidia-utils=340.46
	depends = nvidia-libgl=340.46

