pkgbase = nvidia-340xx-bede
	pkgdesc = NVIDIA 340xx drivers for linux-bede
	pkgver = 340.76
	pkgrel = 14
	url = http://www.nvidia.com/
	install = nvidia.install
	arch = i686
	arch = x86_64
	license = custom
	makedepends = linux-bede>=4.0.5
	makedepends = linux-bede<4.1
	makedepends = linux-bede-headers>=4.0
	makedepends = linux-bede-headers<4.1
	makedepends = nvidia-340xx-utils=340.76
	makedepends = nvidia-340xx-libgl=340.76
	provides = nvidia
	conflicts = nvidia
	options = !strip
	source = nv-drm.patch
	source = nvidia-4.0.patch
	sha256sums = c9986c306f452614fcf23990c55ffe12bdc451bcbd65a5200269f90a722a3d35
	sha256sums = 0b2594eec2ed869245041ead9a3cbe92e5b9b2461c3ede7406004ffae240d6e2
	source_i686 = http://download.nvidia.com/XFree86/Linux-x86/340.76/NVIDIA-Linux-x86-340.76.run
	sha256sums_i686 = 9b29d93b49009caed84a8852825c3e7c6ebbbba8ec99b03ee5113108c8b036d0
	source_x86_64 = http://download.nvidia.com/XFree86/Linux-x86_64/340.76/NVIDIA-Linux-x86_64-340.76-no-compat32.run
	sha256sums_x86_64 = 4c1ede2381cdd48139cdc4f3c657c5c347367160a6b1692bf09454969fb6d004

pkgname = nvidia-340xx-bede
	depends = linux-bede>=4.0
	depends = linux-bede<4.1
	depends = nvidia-340xx-utils=340.76
	depends = nvidia-340xx-libgl=340.76

